<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Linux, Mint, GNU, Open-Source" name="keywords">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="../static/assets/tux.ico" rel="icon">

  <title>About Me</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : $HOME</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./contact.html" title="">03 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="hero-full-container background-image-container white-text-container" style="background-image: url('../static/assets/images/space4.jpg')">
<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Passion for Linux and System Administration</h3>
                  <p>I've always been drawn to how things work under the hood, and Linux quickly became my favorite system to explore. I enjoy learning about system administration tasks, digging into config files, and finding better ways to manage systems. I earned my CompTIA Linux+ certification to help grow my skills and show my dedication to the field. Most of what I’ve learned has come from hands-on practice, and I’m always looking for new ways to improve.</p>
                  <h3>Learning by Doing in the Home Lab</h3>
                  <p>One of the ways I’ve taught myself the most is through home labbing. I set up different services and test tools in my own environment just to see how things work and how I can break—and fix—them. It’s where I experiment, make mistakes, and learn fast. I believe this kind of hands-on learning is one of the best ways to grow. 
                  <h3>Always Growing in Tech</h3>
                  <p>
                  I consider myself a fast learner, especially when it comes to technology. Whether it’s picking up a new tool or solving a problem I’ve never seen before, I enjoy the challenge. I’m especially excited by the world of Linux, but I also have experience with scripting, privacy tools, and some programming. I try to keep things simple, stay curious, and always look for the next thing to learn.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="../static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="../static/text/javascript" src="main.70a66962.js"></script></body>

</html>